*{
    margin: 0px;
    padding: 0px;
    
}
*::selection {
    background-color: rgba(83, 0, 0, 0.7);
    color:rgb(255, 255, 255);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #000000; 
}
::-webkit-scrollbar-thumb {
    background: rgb(220, 53, 53); 
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(153, 24, 24); 
}
#ulnav{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}
.linav{
    display: flex;
    list-style:none;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    overflow: hidden;
}
.formnav{
    align-self: center;
    text-decoration: none;
    color:white ;
    background-color:black;
    text-align: center;
    justify-content: center;
}
.buttonnav{
    width: 100%;
    cursor:pointer;
    color: white;
    border-radius: 25px;
    font-size: 20px;
    background-color: black;
    text-align: center;
    justify-content: center;
    height:auto;
    border-style: none;
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'rob';
    padding: 10px 15px;
    transition: ease 0.7s;
}
.buttonnav:hover{
    background-color: #ffffff;
    color: #000000;
}
header{
    display: flex;
    justify-content: center;
    height: auto;
    min-height: 20px;
    width: 100%;
    background-color: black;
}
#logo{
    margin-top: auto;
    margin-bottom:auto ;
    margin-left: 1%;
    height: 4em;
    border-radius: 10px;
}
#member_connexion{
    margin-right: 2%;
    border-left: #6e6e6e;
    padding-left: 50px;
    border-style:solid;
}
#txt_connexion{
    text-align: center;
}
#avatar{
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
h1{
    justify-content: center;
    text-align: center;
    width:auto;
    background-color:transparent;
    font-size:70px;
    font-family: 'Mont';
}
h2{
    font-size: 40px;
    font-family: 'hey';
}
h3{
    font-size: 35px;
    font-family: 'Source';
}
h4{
    font-size: 20px;
    font-family: 'unb';
}
h5{
    font-family: 'Mont';
}
p{
    font-size: 17px;
    font-family: 'Pop';
}

/* main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 66.5vh;
    height: auto;
    background-color: #3c3c3c;
}

#box{
    position: relative;
    width: 400px;
    height: 440px;
    background-color: #696969;
    border-radius: 8px;
}
#box::before{
    content: '';
    position: absolute;
    top:-50%;
    left:-50%;
    width: 400px;
    height: 440px;
    background: linear-gradient(0deg,transparent,transparent,#18b5e6);
    transform: bottom right;
    animation: animate 6s linear infinite;
}

#box::after{
    content: '';
    position: absolute;
    top:-50%;
    left:-50%;
    width: 400px;
    height: 440px;
    background: linear-gradient(0deg,transparent,transparent,#18b5e6);
    transform: bottom right;
    animation: animate 6s linear infinite;
    animation: delay -3s;
} */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
    background-image: url("/img/background-repeat.jpg");
    background-repeat: repeat;
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content:'';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#ff4949,#ff4949);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content:'';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,#ff4949,#ff4949);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.form{
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background-color: #28292d;
    z-index: 10;
    padding: 80px 40px;
    
    display: flex;
    flex-direction: column;
}
.form h2{
    color: #ff4949;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.inputBox{
    position: relative;
    width: 300px;
    margin-top: 25px;
    
}
.inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    z-index: 10;

}

.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ff4949;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i
{
    height: 44px;
}
.links{
    display: flex;
}
.links a{
    font-size: 1em;
    color: #8f8f8f;
    text-decoration: none;
    margin: 10px;
}
.links a:hover
{
    color: #ff4949;
}
#btnseconnecter{
    border: none;
    outline: none;
    background: #ff4949;
    padding: 11px 25px;
    width: auto;
    margin: 5px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;

}


#map{
    border-radius: 2em;
    border-color: #ff4242;
    border-style:outset;
    border-width: 10px;
}
#club{
    justify-content: center;
    text-align: center;
}
#leclub{
    display: flex;
    height: auto;
    padding: 2vh;
    background-color: #696969;
    color: white;
}
#alieninscri{
    color: #ff4b4b;
}
#papropo{
    width: 50%;
    margin: 20px;
}
.papropoli{
    margin-left: 40px;
}
footer{
    color: white;
    background-color: black;
    text-align: center;
}
#basdepage{
    display: flex;
    padding-top: 10px;
}
#contact{
    text-align: left;
    margin: 20px;
}
#partenaires{
    margin: 20px;
    display: flex;
    margin-left: auto;
}
#h4part{
    margin:5px;
}
.imgpart{
    height: 125px;
    margin: 5px;
}
#copyright{
    background-color: #360000;
}
address > a{
    color: #ff4b4b;
}
address > a.tabulation{
    margin-left: 80px;
}
@font-face {
    font-family: 'rob';
    src: url(font/roboto.ttf);
}

@font-face {
    font-family: 'hey';
    src: url(font/hey.ttf);
}

@font-face {
    font-family: 'vogue';
    src: url(font/Vogue.ttf);
}

@font-face{
    font-family: 'Source';
    src: url(font/Source.ttf);
}

@font-face{
    font-family: 'Mont';
    src: url(font/Montserrat.ttf);
}
@font-face {
    font-family: 'Pop';
    src: url(font/Poppins.ttf);
}
@font-face {
    font-family: 'unb';
    src: url(font/Ubuntu.ttf);
}

@media only screen and (max-width:1300px) {
    #ulnav{
        flex-wrap: wrap;
    }
    #tab_articles{
        grid-template-columns: 50% 50%;
    }
    #partenaires{
        flex-wrap:wrap;
    }
}

@media only screen and (max-device-width:768px) {
    #leclub{
        flex-direction: column;
    }
    #papropo{
        width: fit-content;
    }
    #map{
        height: 500px;
        width: 97%;
    }
}
@media only screen and (max-width:768px) {
    #tab_articles{
        grid-template-columns: 100%;
    }
    #papropo{
        width: fit-content;
    }
    #leclub{
        flex-direction: column;
    }
    #map{
        height: 500px;
        width: 97%;
    }
}

@media only screen and (max-device-width:450px){
    #tab_articles{
        grid-template-columns: 100%;
    }
    #map{
        height: 500px;
    }
    .imgpart{
        height: 75px;
        margin: 5px;
    }
}
@media only screen and (max-width:450px){
    #map{
        height: 500px;
    }
    .imgpart{
        height: 75px;
        margin: 5px;
    }
}