*{
    margin: 0px;
    padding: 0px;
}

#ulnav{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}
.linav{
    display: flex;
    list-style:none;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    overflow: hidden;
}
form{
    align-self: center;
    text-decoration: none;
    color:white ;
    background-color:black;
    text-align: center;
    justify-content: center;
}
button{
    width: 100%;
    cursor:pointer;
    color: white;
    border-radius: 25px;
    font-size: 20px;
    background-color: black;
    text-align: center;
    justify-content: center;
    height:auto;
    border-style: none;
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'rob';
    padding: 10px 15px;
    transition: ease 0.7s;
}
button:hover{
    background-color: #ffffff;
    color: #000000;
}
header{
    display: flex;
    justify-content: center;
    height: 60px;
    min-height: 20px;
    width: 100%;
    background-color: black;
}
#logo{
    margin-top: auto;
    margin-bottom:auto ;
    margin-left: 1%;
    height: 90%;
    border-radius: 0.8em;
}
#member_connexion{
    margin-right: 2%;
    border-left: #6e6e6e;
    padding-left: 50px;
    border-style:solid;
}
#txt_connexion{
    text-align: center;
}
#avatar{
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.connexionbutton{
    padding-bottom: 0;
    padding-top: 0;
}
h1{
    justify-content: center;
    text-align: center;
    width:auto;
    background-color:transparent;
    font-size:70px;
    font-family: 'Mont';
}
h2{
    font-size: 40px;
    font-family: 'hey';
}
h3{
    font-size: 25px;
    font-family: 'Source';
}
p{
    font-size: 20px;
    font-family: 'Pop';
}

footer{
    color: white;
    background-color: black;
    text-align: center;
}
#basdepage{
    display: flex;
    padding-top: 10px;
}
#contact{
    text-align: left;
    margin: 20px;
}
#partenaires{
    margin: 20px;
    display: flex;
    margin-left: auto;
}
#h4part{
    margin:5px;
}
.imgpart{
    height: 125px;
    margin: 5px;
}
#copyright{
    background-color: #360000;
}
address > a{
    color: #ff4b4b;
}
address > a.tabulation{
    margin-left: 80px;
}

@font-face {
    font-family: 'rob';
    src: url(Font/roboto.ttf);
}

@font-face {
    font-family: 'hey';
    src: url(Font/hey.ttf);
}

@font-face {
    font-family: 'vogue';
    src: url(Font/Vogue.ttf);
}

@font-face{
    font-family: 'Source';
    src: url(Font/Source.ttf);
}

@font-face{
    font-family: 'Mont';
    src: url(Font/Montserrat.ttf);
}
@font-face {
    font-family: 'Pop';
    src: url(Font/Poppins.ttf);
}