*{
    margin: 0px;
    padding: 0px;
    
}
*::selection {
    background-color: rgba(83, 0, 0, 0.7);
    color:rgb(255, 255, 255);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #000000; 
}
::-webkit-scrollbar-thumb {
    background: rgb(220, 53, 53); 
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(153, 24, 24);
}
#ulnav{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
}
.linav{
    display: flex;
    list-style:none;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    overflow: hidden;
}
.formnav{
    align-self: center;
    text-decoration: none;
    color:white ;
    background-color:black;
    text-align: center;
    justify-content: center;
}
.buttonnav{
    width: 100%;
    cursor:pointer;
    color: white;
    border-radius: 25px;
    font-size: 20px;
    background-color: black;
    text-align: center;
    justify-content: center;
    height:auto;
    border-style: none;
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'rob';
    padding: 10px 15px;
    transition: ease 0.7s;
}
.buttonnav:hover{
    background-color: #ffffff;
    color: #000000;
}
header{
    display: flex;
    justify-content: center;
    height: auto;
    min-height: 20px;
    width: 100%;
    background-color: black;
}
#logo{
    margin-top: auto;
    margin-bottom:auto ;
    margin-left: 1%;
    height: 4em;
    border-radius: 10px;
}
#member_connexion{
    margin-right: 2%;
    border-left: #6e6e6e;
    padding-left: 50px;
    border-style:solid;
}
#txt_connexion{
    text-align: center;
}
#avatar{
    height: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
h1{
    justify-content: center;
    text-align: center;
    width:auto;
    background-color:transparent;
    font-size:70px;
    font-family: 'Mont';
}
h2{
    font-size: 40px;
    font-family: 'hey';
}
h3{
    font-size: 25px;
    font-family: 'Source';
}
p{
    font-size: 20px;
    font-family: 'Pop';
}
#videoheader{
    width: 100%;
}
.txt_titre{
    margin-top: 10px;
    background: linear-gradient(180deg,#f32424 25%,#000000 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color:transparent;
}
.reflected{
    transform: rotateX(180deg) translateY(28px);
    mask-image: linear-gradient(transparent 50%, #ffff 90%);
    -webkit-mask-image: linear-gradient(transparent 50%, #ffff 90%);
    opacity: 0.72;
    margin-bottom: -70px;
}
#actu{
    justify-content: center;
    text-align: center;
}
hr{
    margin: 1vh 0px 1vh 0px;
}
#tab_articles{
    display: grid;
    flex: auto;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    height: auto;
    min-height: 1100px;
}
.articles{
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(to bottom right, #470000, #ff4949);
    margin: 1vh 2vw 1vh 2vw;
    border-radius: 40px;
    margin-bottom: 50px;
    box-shadow:25px 25px 40px rgb(80, 80, 80);
    height: auto;
}
.imagesarticles{
    background-position:center;
    background-size:cover;
    border-radius: 20px;
    margin: 2vh 2vw;
}
.textesarticles{
    color: white;
    margin-left: 1vw;
    margin-right: 1vw;
    height: auto;
    min-height: auto;
}
.refarticle{
    text-decoration:overline underline;
    color: black;
    font-size: 18px;
}
#map{
    border-radius: 2em;
    border-color: #ff4242;
    border-style:outset;
    border-width: 10px;
}
#club{
    justify-content: center;
    text-align: center;
}
#leclub{
    display: flex;
    height: auto;
    padding: 2vh;
    background-color: #696969;
    color: white;
}
#alieninscri{
    color: #ff4b4b;
}
#papropo{
    width: 50%;
    margin: 20px;
}
.papropoli{
    margin-left: 40px;
}
footer{
    color: white;
    background-color: black;
    text-align: center;
}
#basdepage{
    display: flex;
    padding-top: 10px;
}
#contact{
    text-align: left;
    margin: 20px;
}
#partenaires{
    margin: 20px;
    display: flex;
    margin-left: auto;
}
#h4part{
    margin:5px;
}
.imgpart{
    height: 125px;
    margin: 5px;
}
#copyright{
    background-color: #360000;
}
address > a{
    color: #ff4b4b;
}
address > a.tabulation{
    margin-left: 80px;
}
@font-face {
    font-family: 'rob';
    src: url(font/roboto.ttf);
}

@font-face {
    font-family: 'hey';
    src: url(font/hey.ttf);
}

@font-face {
    font-family: 'vogue';
    src: url(font/Vogue.ttf);
}

@font-face{
    font-family: 'Source';
    src: url(font/Source.ttf);
}

@font-face{
    font-family: 'Mont';
    src: url(font/Montserrat.ttf);
}
@font-face {
    font-family: 'Pop';
    src: url(font/Poppins.ttf);
}

@media only screen and (max-width:1300px) {
    #ulnav{
        flex-wrap: wrap;
    }
    #tab_articles{
        grid-template-columns: 50% 50%;
    }
    #partenaires{
        flex-wrap:wrap;
    }
}

@media only screen and (max-device-width:768px) {
    #leclub{
        flex-direction: column;
    }
    #papropo{
        width: fit-content;
    }
    #map{
        height: 500px;
        width: 97%;
    }
}
@media only screen and (max-width:768px) {
    #tab_articles{
        grid-template-columns: 100%;
    }
    #papropo{
        width: fit-content;
    }
    #leclub{
        flex-direction: column;
    }
    #map{
        height: 500px;
        width: 97%;
    }
}

@media only screen and (max-device-width:450px){
    #tab_articles{
        grid-template-columns: 100%;
    }
    #map{
        height: 500px;
    }
    .imgpart{
        height: 75px;
        margin: 5px;
    }
}
@media only screen and (max-width:450px){
    #map{
        height: 500px;
    }
    .imgpart{
        height: 75px;
        margin: 5px;
    }
}